.App {
  display: flex;
  flex-flow: row wrap;
}

.Header {
  background-color: #2a728f;
  color: #fff;
  flex-basis: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.Main {
  background-color: #fff;
  color: #2a728f;
  flex-basis: 100%;
  padding: 15px;
  box-sizing: border-box;
}
