.App {
  display: flex;
  flex-flow: row wrap;
}

.Main {
  background-color: #fff;
  color: #2a728f;
  flex-basis: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  max-width: 800px;
  min-width: 400px;
  margin: 0 auto;
}
